{% extends 'base.html' %}
{% block title %}Settings{% endblock %}
{% block content %}
<h2 style="font-family:serif;font-size: largeer;text-align: center;">Settings</h2>

<div class="container form-group">
    <h4 style="font-family: cursive;">@{{user.username}}</h4>
    <p style="color: red;">Warning : (you can't changed username)</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-warning">Update</button>
    </form>

</div>
<br>
<br>
<br>
{% endblock %}