{% extends 'base.html' %}
{% block title %}Delete Blog post {% endblock %}
{% block content %}
{% if user.id == post.author.id %}
<h2 style="font-family:serif;font-size: largeer;text-align: center;">Delete Post</h2>
<div class="form-group">
    <form method="POST">
        {% csrf_token%}
        <h5>Want to delete Post --> {{post.title}}</h5>
        <h6>Are you sure?</h6>
        <button class="btn btn-danger" ><i class="bi bi-trash-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="25" height="20" fill="white" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
          </svg>Delete</button>
    </form>
</div>
<hr>
<a href="{% url 'home' %}" class="btn btn-info"><i class="bi bi-x-circle-fill"></i><svg xmlns="http://www.w3.org/2000/svg" width="26" height="21" fill="white" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
  </svg>Cancel</a>
{% endif %}
{% endblock %}